@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&family=Manrope:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Gabarito", sans-serif;
}

:root {
  --primary: #05ff4c;
  --secondray-color: #000;
  --text-color: #fff;
}

header {
  background-color: var(--secondray-color);
  color: var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: rgba(84, 82, 82, 0.2) 0px 5px 12px;
}

.header__socialmedia {
  margin-right: 4%;
  display: flex;
  gap: 20px;
  font-size: 20px;
}

.header__socialmedia i {
  cursor: pointer;
}

.header__socialmedia i:hover {
  color: var(--primary);
}

header nav {
  display: none;
}

.header__register {
  display: none;
}

.hero__section {
  background-color: var(--secondray-color);
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  padding: 24% 20px 32px 20px;
}

.hero__section p {
  font-family: "Manrope", sans-serif;
  font-size: 18px;
  line-height: 28px;
}

.hero__section button {
  background: transparent;
  border: none;
  color: var(--text-color);
  border: 1px solid var(--primary);
  padding: 10px;
  border-radius: 4px;
  width: 50%;
  margin: auto;
  margin-top: 20px;
}

.hero__section button:hover {
  background-color: var(--primary);
  color: var(--secondray-color);
  transition: all 1s;
}

.hero__section img {
  display: none;
}

.hero__social {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hero__social img {
  width: 16vw;
}

.hero__social .hero__social__detail {
  background-color: var(--secondray-color);
  padding: 10px;
  border-radius: 10px;
  gap: 20px;
  color: var(--text-color);
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 2px 2px rgba(144, 147, 140, 0.52);
  -webkit-box-shadow: 2px 2px 10px 2px rgba(183, 189, 185, 0.52);
  -moz-box-shadow: 2px 2px 2px 2px rgba(195, 211, 186, 0.52);
}

.hero__social .hero__social__detail h1 {
  font-weight: 600;
  font-size: 30px;
}

.hero__social .hero__social__detail h1 sup {
  /* font-weight: 100; */
  font-size: 20px;
}

.hero__social .hero__social__detail p {
  font-weight: 900;
}

.bootcamp__title {
  background-color: #000;
  color: #fff;
  padding-left: 20px;
}

.bootcamp__title p {
  font-family: "Great Vibes", cursive;
  font-size: 3.5rem;
  font-weight: 400;
  line-height: 31.2px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 0;
  padding-top: 20px;
}

.bootcamp__title h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 62.4px;
  margin-bottom: 0;
}

.bootcamp__body {
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  border: 15px solid var(--primary);
  border-radius: 20px;
}

.bootcamp__body_inner {
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
}

.bootcamp__img {
  width: 100%;
  border-radius: 16px 16px 0 0;
}

.bootcamp__button button {
  background: transparent;
  border: none;
  color: var(--secondray-color);
  padding: 10px;
  border-radius: 4px;
  margin: auto;
  width: 100%;
  border-radius: 0 0 16px 16px;
  /* background-image: linear-gradient(360deg, #a0da9a 0%, #09d302 100%); */
  border: 2px solid var(--primary);
}

.bootcamp__content {
  display: flex;
  flex-direction: column;
}

.bootcamp__content h1 {
  font-weight: 900;
  font-size: 21px;
}

.bootcamp__content__i {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  font-weight: bold;
}

.bootcamp__content h2 {
  font-size: 40px;
}

.bootcamp__content h2 span {
  color: var(--primary);
}

.bootcamp__content i {
  color: #108a00;
}

.our__courses {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 20px;
}

.our__courses__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.our__courses__boxs {
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 10px;
  border-radius: 4px;
  margin-top: 20px;
}

.our__courses__boxs iframe {
  width: 100%;
  object-fit: cover;
}

.our__courses__conent__detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.our__courses__conent__detail button {
  border: 0px;
  padding: 10px;
  cursor: pointer;
  border-radius: 6px;
  transition: all 2s;
}

.our__courses__conent__detail button:hover {
  background-color: var(--primary);
  border: none;
}

footer {
  background-color: var(--secondray-color);
  color: var(--text-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

footer p {
  font-size: 15px;
  color: gray;
}

/* Media Query for Tablets */
@media (min-width: 426px) {
  .hero__section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 14% 20px 32px 20px;
    ;
  }

  .hero__section__detail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    width: 55%;
  }

  .hero__section__detail button {
    margin: 1px;
  }

  .hero__section img {
    display: flex;
    width: 250px;
    height: 250px;
    object-fit: cover;
  }

  .hero__social {
    flex-direction: row;
  }

  .hero__social__detail {
    width: 34%;
    flex-direction: row;
    gap: 8px !important;
  }

  .hero__social__detail img {
    width: 50px;
  }

  .hero__social__detail h1 {
    font-size: 20px;
    display: flex;
    gap: 4px;
  }

  .our__courses__content {
    flex-direction: row;
    gap: 20px;
  }

  .our__courses__boxs iframe {
    height: 300px;
  }

  footer {
    flex-direction: row;
  }

}

@media (min-width: 1024px) {
  .hero__section {
    padding: 10% 20px 32px 20px;
  }
  .hero__section h1{
    font-size: 50px;
  }
  .our__courses__content__split{
    width: 100%;
  }
}